.single-profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.single-profile-container h1 {
  display: flex;
  justify-content: center;
}
