:root {
    --main-color-blue: #3c42c4;
    --main-color-dark-purple: #6e51c8;
    --main-color-light-purple: #a065cd;
    --main-color-dark-pink: #ce79d2;
    --main-color-light-pink: #d68fb8;
    --main-color-pink-red: #dda2a3;
    --main-color-peach: #eac4ae;
    --main-color-light-brown: #f4dfbe;
}


.chat_main_container {
    width: 100%;
    height: calc(100vh - 17%);
    position: relative;
    display: flex;
    justify-content: center;
    max-height: fit-content;

}

.chat_container {
    position: relative;
    width: 1396px;
    max-width: 100%;
    background: #fff;
    height: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 8px 10px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    max-height: fit-content;
}

.chat_container .leftSide {
    flex: 30;
    position: relative;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: var(--main-color-light-pink);
}

.chat_container .rightSide {
    flex: 70;
    position: relative;
    background: var(--main-color-peach);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 1;
}

.chat_container .rightSide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://i.imgur.com/kVRSKdc.png);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    z-index: -1;
    opacity: 0.10;
}

.chatList_item {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    box-shadow: 0 8px rgba(255, 255, 255, 0.06);
    cursor: pointer;
}

.chat_box {
    position: relative;
    box-sizing: border-box;
    padding: 50px;
    width: 100%;
    height: 100%;
}

.message_box {
    padding: 50px;
    height: 86%;
    overflow: scroll;
    background: rgba(225, 225, 225, 0.3);
    border-radius: 20px;
    box-shadow:  7px 7px 5px rgba(0, 0, 0, 0.20),
         7px -7px 5px rgba(0, 0, 0, 0.20),
         -7px 7px 5px rgba(0, 0, 0, 0.20),
         -7px -7px 5px rgba(0, 0, 0, 0.20)
}

.message_box::-webkit-scrollbar {
    display: none;
}

.message_box {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chat_message {
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

.chat_message p {
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 1em;
    background: var(--main-color-light-brown);
    border-radius: 10px;
    font-size: 1em;
    margin: 5px 0;
}

.chat_message p::before {
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg, var(--main-color-light-brown) 0%, var(--main-color-light-brown) 50%, transparent 50%, transparent)
}

.my_messages {
    justify-content: flex-end;
    position: relative;
}

.other_messages {
    justify-content: flex-start;
}

.other_messages p {
    background: var(--main-color-pink-red);
    text-align: left;
}

.chat_message.other_messages p::before {
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg, var(--main-color-pink-red) 0%, var(--main-color-pink-red) 50%, transparent 50%, transparent)
}

.message_buttons button {
    border: none;
    background: none;
    font-size: 1rem;
}

.message_buttons button > i {
   color: var(--main-color-dark-pink);
}

.message_buttons {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 5;
    bottom: -4;
}

.chat_form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;

}


.input_container {
    display: flex;
    width: 84%;
    height: 3rem;
    border: 1px solid var(--main-color-dark-pink);
    border-radius: 20px;
    position: relative;
    color: var(--main-color-dark-pink);
    background: #f4dfbe;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20),
            5px -5px 5px rgba(0, 0, 0, 0.20),
            -5px 5px 5px rgba(0, 0, 0, 0.20),
            -5px -5px 5px rgba(0, 0, 0, 0.20)
}


.chat_form span {
    position: absolute;
    left: 0;
    padding: 15px;
    pointer-events: none;
    font-size: 1em;
    text-transform: uppercase;
    color: rgba(206, 121, 210, 0.6)
}

.chat_form input {
    background: none;
    outline: none;
    width: 100%;
    border: none;
    padding-left: 20px;
    font-size: 1em;
    color: var(--main-color-dark-pink);
}

.chat_counter {
    display: flex;
    align-items: center;
    text-align: center;
    padding-right: 20px;
}


.input_container input:focus ~ span
 {
    color: white;
    transition: 0.5s;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.80em;
    padding: 0 10px;
    background: var(--main-color-dark-pink);
    border-radius: 3px;
    letter-spacing: 0.2em;
}

.chat_submit{
    margin-left: 5px;
    background: var(--main-color-light-brown);
    outline: none;
    border-radius: 50%;
    border: 1px solid var(--main-color-dark-pink);
    height: 3rem;
    width: 3rem;
    color: var(--main-color-dark-pink);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20),
            5px -5px 5px rgba(0, 0, 0, 0.20),
            -5px 5px 5px rgba(0, 0, 0, 0.20),
            -5px -5px 5px rgba(0, 0, 0, 0.20);
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
}

.chat_submit i {
    scale: 1.8;
}

.chat_submit:hover {
    background: var(--main-color-dark-pink);
    color: white;
}

.error {
    border: 2px solid red;
    color: red;
}

.error i {
    scale: 2;
}

.error input:focus~span {
    color: white;
    transition: 0.5s;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.80em;
    padding: 0 12px;
    background: red;
    border-radius: 3px;
    letter-spacing: 0.2em;
}

.error span {
    color:  red;
}

.error input {
    caret-color: red;
}

.error + .chat_submit {
    border:2px solid red;
    color: red;
}
