.browse-bar-main-container {
  display: flex;
  flex-direction: row;
  height: 8rem;
  align-items: center;
  justify-content: center;
  background-color: #6e51c8;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bubble-container {
  margin: 0rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  /* display: inline-block; */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-duration: 0.3s;
  transition-property: transform;

}

.bubble-container:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(236, 231, 231, 0) 80%);
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.bubble-container:hover, .bubble-container:focus, .bubble-container:active {
  transform: translateY(-5px);
}

.bubble-container:hover:before, .bubble-container:focus:before, .bubble-container:active:before {
  opacity: 1;
  transform: translateY(5px);
}

.bubble-container img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid lightgray;
}
