.edit-profile-header {
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;
}

.edit-profile-header-content {
  display: flex;
  flex-direction: row;
}

.profile-image-container img {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
}

.edit-profile-image-details {
  display: flex;
  flex-direction: row;
}

.profile-details-container {
  margin: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-bio-container {
  border: 1px solid black;
  width: 25rem;
  height: 9rem;
  border-radius: 0.55rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.edit-bio-container:hover {
  box-shadow: inset 2px 2px 2px #6e51c8 , 2px 2px 2px #6e51c8;
}
.bio-box textarea{
  margin-left: 2px;
  border-radius: 1rem;
}

/* .bio-box textarea:focus {
  border-color: #66afe9;
  outline: 0;

  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
} */


.edit-bio-upper {
  display: flex;
  flex-direction: column;
  border-bottom: lightgray solid 1px;
  justify-content: center;
  padding: 0rem 0.5rem;
  height: 4rem;
}

.edit-bio-upper label {
  margin: 0.25rem 0rem;
}

.edit-profile-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0rem;
}

.edit-bio-lower textarea {
  width: 99%;
  height: 4.9rem;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
  text-indent: 0.4rem;
}

.save-button-container {
  margin-bottom: 6rem;
  width: 5rem;
  height: 2.5rem;
  border: none;
  background-color: lightcoral;
  border-radius: 10%;
  cursor: pointer;
}

.save-button-container {
  font-family: "Nunito", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

save-button-container::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00ffcb;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.save-button-container:hover,
.save-button-container:focus {
  color: #313133;
  transform: translateY(-6px);
}

save-button-container:hover::before,
save-button-container:focus::before {
  opacity: 1;
}

save-button-container::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

save-button-container:hover::after,
save-button-container:focus::after {
  animation: none;
  display: none;
}

.main-edit-profile-container {
  height: fit-content;
}
